*{
  box-sizing: border-box;
}

.header{
  height: 100vh;
}

.font-tanNimbus{
  font-family: 'tan-Nimbus' !important;
}

.header{
  height: 100vh;
  width: 100%;
}

.nav{
  margin: 0 auto;
  border-radius: 15px;
  height: 85px;
  margin-bottom: 1rem;
  z-index:  100000000000;
  position: sticky !important;
  top: 1rem;
}

.logo{
  width: 9rem;
}

nav li{
  font-size: 15px;
}

.button{
  color: var(--sz-green) !important;
  background-color: var(--sz-text) !important;
  margin-right: 20px;
}

.modal-box{
  border: 1px solid var(--sz-green);
  color: var(--sz-green);
}