*{
  box-sizing: border-box;
}

.header{
  height: 100vh;
}

.font-tanNimbus{
  font-family: 'tan-Nimbus' !important;
}

.header{
  height: 100vh;
  width: 100%;
}

.nav{
  margin: 0 auto;
  border-radius: 15px;
  height: 85px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: sticky;
}

.logo{
  width: 9rem;
}

.button{
  color: var(--sz-green) !important;
  background-color: var(--sz-text) !important;
}