.header{
  z-index: 10000;
}

.nav{
    background-color: var(--sz-green) !important;
    width: 90% !important;
    margin: 0 auto;
    border-radius: 15px;
    height: 80px;
    margin-top: 1rem;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
  }