@import url('./assets/css/header.css');
@import url('./assets/css/abouts.css');
@import url('./assets/css/footer.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TAN Nimbus';
  src: url('./assets/fonts/tan-nimbus-TAN_Nimbus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/src/assets/fonts/Quicksand-Regular.ttf') format('truetype'); /* Ajusta la ruta si es necesario */
  font-weight: normal;
  font-style: normal;
}

:root {
  --sz-green: #004D29;
  --sz-beige: #F1EFE7;
  --sz-text: #F5F4F4;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--sz-beige) !important;
}

*{
  padding-left: 10px;
  padding-right: 10px;
}